In [1]:
# 기본
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 경고 뜨지 않게 설정
import warnings
warnings.filterwarnings('ignore')

# 그래프 설정
sns.set()

# 그래프 기본 설정
plt.rcParams['font.family'] = 'Malgun Gothic'
# plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['figure.figsize'] = 12, 6
plt.rcParams['font.size'] = 14
plt.rcParams['axes.unicode_minus'] = False

# 데이터 전처리 알고리즘
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

# 학습용과 검증용으로 나누는 함수
from sklearn.model_selection import train_test_split

# 교차 검증
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate
from sklearn.model_selection import KFold
from sklearn.model_selection import StratifiedKFold

# 평가함수
# 분류용
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score

# 회귀용
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

# 모델의 최적의 하이퍼 파라미터를 찾기 위한 도구
from sklearn.model_selection import GridSearchCV

# 머신러닝 알고리즘 - 분류
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from lightgbm import LGBMClassifier
from xgboost import XGBClassifier
from sklearn.ensemble import VotingClassifier

# 머신러닝 알고리즘 - 회귀
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor
from lightgbm import LGBMRegressor
from xgboost import XGBRegressor
from sklearn.ensemble import VotingRegressor

# 학습 모델 저장을 위한 라이브러리
import pickle

# 시간 관련
import time

In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# 파일 경로
file_path = 'data/신용정보_with_segment.csv'

# 사용할 컬럼 목록
selected_columns = [
    "Segment",
    "최초한도금액",
    "카드이용한도금액",
    "CA한도금액",
    "일시상환론한도금액",
    "월상환론한도금액",
    "CA이자율_할인전",
    "CL이자율_할인전",
    "RV일시불이자율_할인전",
    "RV현금서비스이자율_할인전",
    "RV약정청구율",
    "RV최소결제비율",
    "한도증액횟수_R12M",
    "한도증액금액_R12M",
    "상향가능CA한도금액",
    "월상환론상향가능한도금액",
    "일시불ONLY전환가능여부",
    "특별한도보유여부_R3M",
    "연체감액여부_R3M",
]

In [3]:
# 3. 파일 불러오기
df = pd.read_csv(file_path, usecols=selected_columns)

# 결과 확인
display(df)

,최초한도금액,카드이용한도금액,CA한도금액,일시상환론한도금액,월상환론한도금액,CA이자율_할인전,CL이자율_할인전,RV일시불이자율_할인전,RV현금서비스이자율_할인전,RV약정청구율,RV최소결제비율,한도증액횟수_R12M,한도증액금액_R12M,상향가능CA한도금액,월상환론상향가능한도금액,일시불ONLY전환가능여부,특별한도보유여부_R3M,연체감액여부_R3M,Segment
0,0,19354,7270,0,0,22.995207,18.254978,17.264967,21.234252,0.0000,19.99996,0회,0,0,0,0,0,0,D
1,0,9996,5718,41996,90611,14.793821,14.834873,10.622446,13.636594,99.9998,9.99998,0회,0,1,0,1,0,0,E
2,0,88193,35207,0,0,22.014276,17.875321,17.155829,21.226879,99.9998,19.99996,0회,0,0,0,0,0,0,C
3,0,19062,6531,0,0,22.998014,22.999453,19.293674,22.999954,0.0000,19.99996,0회,0,0,0,0,0,0,D
4,0,177222,47149,48000,155020,14.661948,10.897410,10.654587,10.504785,0.0000,9.99998,0회,0,0,0,1,0,0,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399995,0,20070,10167,0,54445,15.243670,11.900516,10.545876,13.614016,0.0000,9.99998,0회,0,1,0,1,0,0,E
2399996,0,84217,31159,0,156800,14.843464,15.652063,11.102726,13.650594,0.0000,9.99998,1회이상,1,3,0,1,0,0,D
2399997,0,52612,19429,0,0,17.038599,17.966213,13.278475,16.221855,0.0000,19.99996,0회,0,0,0,0,0,0,C
2399998,0,10002,4228,90004,180906,15.182880,11.901089,10.594124,13.277456,0.0000,9.99998,0회,0,1,0,1,0,0,E
2399999,0,86094,25133,0,0,14.841102,15.287120,11.406823,13.675624,0.0000,9.99998,1회이상,1,2,18,1,0,0,E

### 한도증액횟수 숫자로 변환

In [5]:
display(df['한도증액횟수_R12M'].value_counts())

# 매핑 딕셔너리 정의
visitday_mapping = {
    "0회": 1,
    "1회이상": 10
}

# 매핑 적용
df["한도증액횟수_R12M"] = df["한도증액횟수_R12M"].map(visitday_mapping)

# 결과 확인
print(df[["한도증액횟수_R12M"]].head())

한도증액횟수_R12M
0회      2116131
1회이상     283869
Name: count, dtype: int64

   한도증액횟수_R12M
0            1
1            1
2            1
3            1
4            1

In [6]:
# 5. 결과 저장 (세그먼트 그대로 유지)
df.to_csv('data/신용정보_cleaned_no_encoding.csv', index=False)

In [7]:
# 결과 확인용
check_point = pd.read_csv('data/신용정보_cleaned_no_encoding.csv')
check_point

,최초한도금액,카드이용한도금액,CA한도금액,일시상환론한도금액,월상환론한도금액,CA이자율_할인전,CL이자율_할인전,RV일시불이자율_할인전,RV현금서비스이자율_할인전,RV약정청구율,RV최소결제비율,한도증액횟수_R12M,한도증액금액_R12M,상향가능CA한도금액,월상환론상향가능한도금액,일시불ONLY전환가능여부,특별한도보유여부_R3M,연체감액여부_R3M,Segment
0,0,19354,7270,0,0,22.995207,18.254978,17.264967,21.234252,0.0000,19.99996,1,0,0,0,0,0,0,D
1,0,9996,5718,41996,90611,14.793821,14.834873,10.622446,13.636594,99.9998,9.99998,1,0,1,0,1,0,0,E
2,0,88193,35207,0,0,22.014276,17.875321,17.155829,21.226879,99.9998,19.99996,1,0,0,0,0,0,0,C
3,0,19062,6531,0,0,22.998014,22.999453,19.293674,22.999954,0.0000,19.99996,1,0,0,0,0,0,0,D
4,0,177222,47149,48000,155020,14.661948,10.897410,10.654587,10.504785,0.0000,9.99998,1,0,0,0,1,0,0,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399995,0,20070,10167,0,54445,15.243670,11.900516,10.545876,13.614016,0.0000,9.99998,1,0,1,0,1,0,0,E
2399996,0,84217,31159,0,156800,14.843464,15.652063,11.102726,13.650594,0.0000,9.99998,10,1,3,0,1,0,0,D
2399997,0,52612,19429,0,0,17.038599,17.966213,13.278475,16.221855,0.0000,19.99996,1,0,0,0,0,0,0,C
2399998,0,10002,4228,90004,180906,15.182880,11.901089,10.594124,13.277456,0.0000,9.99998,1,0,1,0,1,0,0,E
2399999,0,86094,25133,0,0,14.841102,15.287120,11.406823,13.675624,0.0000,9.99998,10,1,2,18,1,0,0,E