In [1]:
# 1. 회원정보
features_member = [
    '남녀구분코드',
    '회원여부_이용가능_카드론', '입회경과개월수_신용', '회원여부_연체', '동의여부_한도증액안내',
    '탈회횟수_누적', '탈회횟수_발급1년이내',
    '거주시도명',
    '유효카드수_신용체크',
    '이용카드수_신용체크',
    '이용금액_R3M_신용체크',
    '보유여부_해외겸용_본인', '이용여부_3M_해외겸용_본인',
    '연회비발생카드수_B0M', '기본연회비_B0M', '제휴연회비_B0M'
]

In [2]:
# 2. 신용정보
features_credit = [
    '최초한도금액',
    '카드이용한도금액', 'CA한도금액',
    '일시상환론한도금액', '월상환론한도금액',
    'CA이자율_할인전',
    'RV일시불이자율_할인전', 'RV현금서비스이자율_할인전',
    'RV약정청구율', 'RV최소결제비율',
    '한도증액횟수_R12M',
    '한도증액금액_R12M', '상향가능CA한도금액', '월상환론상향가능한도금액',
    '일시불ONLY전환가능여부', '특별한도보유여부_R3M', '연체감액여부_R3M'
]

In [3]:
# 3. 승인매출정보
features_tx = [
    '이용건수_신용_B0M',
    '이용금액_일시불_B0M', '이용후경과월_신용', '이용후경과월_일시불', '이용후경과월_체크',
    '이용금액_해외', '쇼핑_도소매_이용금액', '쇼핑_마트_이용금액', '쇼핑_온라인_이용금액',
    '교통_주유이용금액', '교통_정비이용금액', '여유_숙박이용금액',
    '할부건수_3M_R12M', '할부금액_3M_R12M',
    'RP건수_B0M', 'RP건수_통신_B0M', 'RP건수_보험_B0M', 'RP건수_교통_B0M', 'RP후경과월',
    '카드론이용건수_누적', '카드론이용금액_누적', '최종카드론_대출이율', '최종카드론_대출금액',
    '이용건수_온라인_R6M', '이용건수_페이_온라인_R6M',
    '이용건수_A페이_R6M', '이용건수_C페이_R6M', '이용건수_D페이_R6M',
    '이용금액_선결제_R6M', '이용건수_선결제_R6M',
    '연체입금원금_B0M', '정상청구원금_B5M', '선입금원금_B2M',
    '연속유실적개월수_기본_24M_카드',
    '승인거절건수_R3M', '승인거절건수_한도초과_R3M',
    '이용금액대'  # 범주형
]

In [4]:
# 4. 청구입금정보
features_bill = [
    '청구서발송여부_B0', '청구서발송여부_R3M', '청구서발송여부_R6M',
    '청구금액_B0', '청구금액_R3M', '청구금액_R6M',
    '포인트_마일리지_건별_B0M', '포인트_포인트_건별_B0M', '포인트_마일리지_월적립_B0M', '포인트_포인트_월적립_B0M',
    '마일_적립포인트_R3M', '마일_잔여포인트_B0M', '포인트_이용포인트_R12M',
    '할인건수_R3M', '할인금액_R3M', '할인건수_B0M',
    '혜택수혜금액_R3M', '포인트_마일리지_환산_B0M'
]

In [5]:
# 5. 잔액정보
features_balance = [
    '잔액_일시불_B0M', '잔액_할부_B0M',
    '연체잔액_B0M',
    '연체원금_최근', '매각잔액_B1M',
    'RV_평균잔액_R3M',
    '연체잔액_RV일시불_B0M', '연체잔액_CA_B0M',
    '평잔_일시불_3M',
    '평잔_6M', '평잔_카드론_3M', '평잔_CA_3M'
]

In [6]:
#6. 채널정보
features_channel = [
'불만제기후경과월_R12M', '방문일수_앱_R6M', '홈페이지_금융건수_R6M','상담건수_R6M','홈페이지_선결제건수_R6M',
'인입월수_IB_R6M','방문일수_앱_B0M','방문횟수_앱_B0M', '인입횟수_IB_R6M', '방문월수_PC_R6M','인입일수_ARS_B0M','당사멤버쉽_방문횟수_R6M'
]

In [7]:
# 7. 마케팅정보
features_marketing = [
'컨택건수_이용유도_EM_B0M', '컨택건수_이용유도_EM_R6M','컨택건수_이용유도_청구서_B0M','컨택건수_이용유도_TM_R6M','컨택건수_신용발급_TM_R6M',
    '컨택건수_이용유도_LMS_R6M','컨택건수_이용유도_인터넷_R6M', '컨택건수_이용유도_청구서_R6M'
]

In [8]:
# 8. 성과정보
features_perf = [
    '증감율_이용건수_할부_전월', '증감율_이용건수_CA_전월', '증감율_이용건수_체크_전월',
    '증감율_이용금액_신용_전월', '증감율_이용금액_할부_전월',
    '증감율_이용금액_신판_전월', '증감율_이용금액_일시불_전월',
    '증감율_이용건수_신판_분기', '증감율_이용건수_일시불_분기',
    '증감율_이용금액_신용_분기', '증감율_이용금액_체크_분기',
    '잔액_신판평균한도소진율_r6m','잔액_신판최대한도소진율_r6m', '잔액_신판ca평균한도소진율_r6m', '잔액_신판ca최대한도소진율_r6m',
    '변동률_RV일시불평잔', '변동률_할부평잔', '변동률_RVCA평잔', '변동률_카드론평잔'
]

In [9]:
selected_feature=(
    features_member +
    features_credit +
    features_tx +
    features_bill +
    features_balance +
    features_channel +
    features_marketing +
    features_perf
    )

In [10]:
# A,B 상관계수 높은 변수 & C, D, E 상관계수 높은 변수 기반 컬럼 선정
related_cols = ['할부금액_3M_R12M', '이용금액_할부_무이자_R12M', 
                '이용건수_할부_무이자_R12M', '정상입금원금_B0M', 
                '이용금액_오프라인_R6M', '정상청구원금_B0M', 
                '이용금액_오프라인_R3M', '_1순위카드이용금액', 
                '평잔_일시불_해외_6M', '승인거절건수_입력오류_R3M', 
                '청구금액_R3M', '이용금액_일시불_R12M', 
                '이용금액_할부_무이자_R3M', '이용금액_할부_무이자_R6M', 
                '정상입금원금_B5M', '이용금액_할부_R12M', '마일_적립포인트_R3M', 
                '정상청구원금_B2M', '포인트_마일리지_환산_B0M', '청구금액_B0', 
                '정상입금원금_B2M', '할부건수_무이자_3M_R12M', '정상청구원금_B5M', 
                '청구금액_R6M', '여유_숙박이용금액', '최대이용금액_일시불_R12M', 
                '_1순위업종_이용금액', '잔액_할부_B0M', '할부금액_무이자_3M_R12M', 
                '잔액_할부_무이자_B0M', '이용금액_일시불_R3M', '이용금액_R3M_신용체크', 
                '이용건수_신용_R6M', '이용건수_일시불_R12M', '이용금액_오프라인_B0M', 
                '이용금액_R3M_신용', '이용건수_오프라인_B0M', '이용건수_신판_R12M', 
                '이용금액_일시불_B0M', '이용가맹점수', '이용건수_신용_R12M', '이용금액_일시불_R6M']
len(related_cols)

42

In [11]:
print(len(selected_feature)) # 1~8 카테고리 선정피쳐

139

In [12]:
all_features = list(set(selected_feature + related_cols))
all_features = list(dict.fromkeys(all_features))
print(type(all_features[0]))

<class 'str'>

In [13]:
# 기본적으로 필요한 컬럼
base_train_cols = ['ID', 'Segment']
all_selected_train_cols = list(set(base_train_cols + all_features))
len(all_selected_train_cols)

172

In [14]:
# 테스트 데이터 컬럼
base_test_cols = ['ID']
all_selected_test_cols= list(set(base_test_cols + all_features))
len(all_selected_test_cols)

171

In [15]:
import pandas as pd

# ✅ 1. 원본 train 데이터 선택 컬럼만 불러오기
train_df = pd.read_parquet("data/통합_train_데이터.parquet", columns=all_selected_train_cols)

# ✅ 2. 추가 컬럼 불러오기 (R_score, F_score, M_score)
extra_df = pd.read_csv("data/rfm_only.csv")

# ✅ 3. (ID, Segment) 기준 중복 제거
extra_df = extra_df.drop_duplicates(subset=["ID", "Segment"])

# ✅ 4. 병합 (ID + Segment 기준)
train_df = train_df.merge(extra_df, on=["ID", "Segment"], how="left")

# ✅ 5. 파생 변수 생성: 이용카드비율_신용
if '이용카드수_신용' in train_df.columns and '유효카드수_신용' in train_df.columns:
    train_df['이용카드비율_신용'] = train_df.apply(
        lambda row: row['이용카드수_신용'] / row['유효카드수_신용']
        if row['유효카드수_신용'] != 0 else 0,
        axis=1
    )

# ✅ 6. 저장
train_df.to_parquet("data/통합_train_병합완료.parquet", index=False)
print("✅ 병합 및 저장 완료: 통합_train_병합완료.parquet (중복 제거 포함)")

✅ 병합 및 저장 완료: 통합_train_병합완료.parquet (중복 제거 포함)

In [25]:
import pandas as pd

# ✅ 1. 원본 테스트 데이터 불러오기
test_df = pd.read_parquet("data/통합_test_데이터.parquet", columns=all_selected_test_cols)
test_df['ID']

0         TEST_00000
1         TEST_00001
2         TEST_00002
3         TEST_00003
4         TEST_00004
             ...
599995    TEST_99995
599996    TEST_99996
599997    TEST_99997
599998    TEST_99998
599999    TEST_99999
Name: ID, Length: 600000, dtype: object

In [26]:

# ✅ 2. 추가 컬럼 불러오기 (R_score, F_score, M_score 포함)
extra_df = pd.read_csv("data/rfm_test_only.csv")

# ✅ 3. (ID, Segment) 기준 중복 제거 → 이후 ID 기준 병합 가능하게 만듦
extra_df = extra_df.drop_duplicates(subset=["ID"])

extra_df

       R_score  F_score  M_score          ID
0            2        3        3  TEST_00000
1            2        3        4  TEST_00001
2            1        4        4  TEST_00002
3            3        4        2  TEST_00003
4            4        3        2  TEST_00004
...        ...      ...      ...         ...
99995        3        1        1  TEST_99995
99996        1        2        2  TEST_99996
99997        1        1        1  TEST_99997
99998        3        4        4  TEST_99998
99999        2        2        1  TEST_99999

[100000 rows x 4 columns]

In [28]:
# ✅ 4. Segment 기준 제거하고 ID 기준 병합 준비
test_df = test_df.merge(extra_df, on="ID", how="left")

# ✅ 5. 파생 변수 생성: 이용카드비율_신용
if '이용카드수_신용' in test_df.columns and '유효카드수_신용' in test_df.columns:
    test_df['이용카드비율_신용'] = test_df.apply(
        lambda row: row['이용카드수_신용'] / row['유효카드수_신용']
        if row['유효카드수_신용'] != 0 else 0,
        axis=1
    )

test_df

,정상입금원금_B2M,증감율_이용금액_체크_분기,할부금액_무이자_3M_R12M,이용건수_할부_무이자_R12M,증감율_이용건수_체크_전월,청구금액_R6M,홈페이지_금융건수_R6M,이용건수_A페이_R6M,포인트_포인트_월적립_B0M,제휴연회비_B0M,...,이용카드수_신용체크,청구금액_B0,월상환론상향가능한도금액,RP건수_B0M,탈회횟수_누적,이용건수_페이_온라인_R6M,이용금액_할부_무이자_R3M,R_score,F_score,M_score
0,1172,0.000000,0,0,0.000000,22151,0,0,0,0,...,2,4931,18,2,1,6,0,2,3,3
1,4509,-0.079054,10005,23,0.011254,32878,0,0,0,0,...,2,10152,0,0,2,10,8927,2,3,4
2,11366,0.000000,10239,9,0.000000,71867,0,0,0,0,...,2,13223,0,2,2,1,0,1,4,4
3,875,0.000000,2109,0,0.000000,4986,0,0,0,0,...,1,2112,0,3,0,0,2739,3,4,2
4,1618,0.016203,9884,8,-0.379615,10758,0,0,0,0,...,3,4406,0,2,0,0,5846,4,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599995,0,0.000000,0,0,0.000000,0,0,0,0,0,...,0,0,0,0,1,0,0,3,1,1
599996,252,0.000000,0,0,0.000000,2237,3,6,0,0,...,1,359,0,1,0,0,0,1,2,2
599997,0,0.000000,0,0,0.000000,0,0,0,0,0,...,0,0,0,0,1,0,0,1,1,1
599998,2751,-0.044862,1994,4,-0.166447,108420,7,6,0,0,...,6,21273,0,1,1,18,0,3,4,4
599999,18,0.000000,0,0,0.000000,105,0,0,0,0,...,2,18,0,1,0,0,0,2,2,1

In [29]:
# ✅ 6. 저장
test_df.to_parquet("data/통합_test_병합완료.parquet", index=False)
print("✅ 병합 및 저장 완료: 통합_test_병합완료.parquet (ID 기준, Segment 제거됨)")

✅ 병합 및 저장 완료: 통합_test_병합완료.parquet (ID 기준, Segment 제거됨)